@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.calculator {
  margin: 10px auto;
  background-color: gray;
  display: grid;
  width: 350px;
  border-radius: 2px;
  height: 450px;
  gap: 4px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.display {
  grid-column: 1/-1;
  font-size: 48px;
  text-align: right;
  color: white;
  padding: 18px;
  background-color: rgba(0, 38, 153, 0.5);
}

.zero {
  grid-column: 1/3;
}

button {
  color: black;
  font-size: 24px;
}

.operator {
  background-color: #066;
  border: 2px solid #066;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 8px 24px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 18%;
}

.homeContainer {
  text-align: left;
  padding: 0 24px;
}

.quoteMath {
  padding-top: 10%;
  text-align: center;
}

.calculatorContainer {
  display: flex;
  justify-content: space-between;
}

.calculatorH2 {
  text-align: left;
  margin-top: 10px;
  padding-left: 24px;
}

.quoteBtn {
  width: 150px;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  background-color: #0290FF;
  color: #fff;
  font-size: 0.813rem;
  font-weight: bold;
  font-family: 'Roboto Slab', sans-serif;
}